.mdl-layout__header {
	/*background-color: #000;*/
}

body {
	background-color: #eee;
}

.canvas_wrapper {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2em;
}

.mdl-navigation__link {
	font-size: 1.2em;
}

#form-card {
	padding: 2em;
	position: fixed;
}

#haiku-img {
	width: 100%;
	height:auto;
}

#haiku-date {
	text-align: right;
}

.mdl-layout__drawer-button > i {
	color: #fff;
}

.analytics {
	text-align: right;
	padding: 2em;
}

.analytics-card {
	text-align: center;
	padding: 2em;
}

.analytics-card > h1 {
	font-size: 3.5em;
	margin-bottom: 0em;
}

.analytics-card > h4 {
	margin-top: 0em;
}

.haiku-img {
	width: 100%;
}


