.mdl-layout__header {
	/*background-color: #000;*/
}

body {
	background-color: #eee;
}

.mdl-navigation__link {
	font-size: 1.2em;
}

#form-card {
	padding: 2em;
	position: fixed;
}

#haiku-img {
	width: 100%;
	height:auto;
}

#haiku-date {
	text-align: right;
}

.mdl-layout__drawer-button {
	background-color: #3f51b5;
	border-radius: 10%;
}

.mdl-layout__drawer-button > i {
	color: #fff;
}

.analytics {
	text-align: right;
	padding: 2em;
}

.analytics-card {
	text-align: center;
	padding: 2em;
}

.analytics-card > h1 {
	font-size: 5em;
	margin-bottom: 0em;
}

.analytics-card > h4 {
	margin-top: 0em;
}



